<div class= 'container'>
  <form action="/feed" method= "post">
    Status Update<br>
    <textarea name= "feed[content]" rows= 4 cols= 40></textarea><br>
    Tags<br>
    <input type= "text" name= "tags"><br><br>
    <input type= "submit" value= "Post Status!">
  </form>
</div>